*{
    padding: 0;
    margin: 0;
  }
  
  .h1 {
      font-family: Helvetica;
      font-size: 10vw;
  }
  

  .navbar{
    display: flex;
    justify-content: space-around;

    list-style-type: none;
    text-align: center;
    background-color: #fff348;


  }

  .navbar a {
    display: inline-block; 

    font-family: Helvetica;
    font-size: 2vw;
    color: black;
    text-decoration: none;
    padding-top: 20px;
  }
 .navbar a:hover{
   color: #ffffff;
 }
  .navbar li{
    width: 23.75%;
    flex-shrink: 0;
  }

  li#logo{
    width: 5%;
    padding-top: 5px;
    padding-bottom: none;
    padding-left: 20px;
  }

  li#logo img{
    width: 100%;
  }

  li#logo a{
    padding-top: 0;
  }

  .navbar a:hover img {
    opacity: 0;
  }

  .logo:hover {
    background: url("images/home_white.svg");
      background-repeat: no-repeat;
    background-size: 100%;
  }

  .navbar li:nth-child(2){
  flex-shrink: 2;  
  }

  .navbar li:nth-child(5){
    padding-right: 20px;
  }

    .img-cnt{
        width: 42%;
        float: left;
        margin: 10px 10px 0 90px;
    }

    .txt-cnt{
        font-family: Helvetica;
        font-size: 1.5vw;
        float: right;
        width: 50%;

    }

    .txt-cnt img{
      width: 7%;
    }

    .txt-cnt p{
        padding: 10%;
    }

    .social{
      margin-left: 10%;

    }
    /** Design page **/


    #my-works{
      display: flex;

      justify-content: space-evenly;
      align-items: center;

      height: 100%;

      font-family: Helvetica;
    }

    .items-works1{
      justify-content: center;


      text-align: center;

      font-size: 2vw;
      text-transform: uppercase;


      width: 50%;
      height: 100%;
	  
	  background: url("images/portfolio/b&d.jpg");
	  background-repeat: no-repeat;
	  background-size: 100%; 
    }
	    .items-works2{
      justify-content: center;
      text-align: center;


      text-transform: uppercase;

      width: 50%;
      height: 100%;
	  
	  background: url("images/portfolio/mine.jpg");
	  background-repeat: no-repeat;
	  background-size: 100%; 

    }

    .items-works1 a{
	display: block;
	
	font-size: 9vw;
    color: white;
    text-decoration: none;
	  
	padding-top: 32%;
	  
	  
    }
    .items-works1 a:hover{
      color: #fff348;
    }
	
	.items-works2 a{
	display: block;
	
	font-size: 9vw;
	color: #000000;
    text-decoration: none;
	
	padding-top: 32%;
}
.items-works2 a:hover{
  color: #fff348;
}


	/*bd */
	.creative-foto{
	display: flex;
	
	margin-top: 0.7%;
	justify-content: space-between;
	}
	
		.creative-foto2{
	display: flex;
  margin-top: 0.7%;
  
	}
	
	.creative-foto2#two{

	}
	
	
	
	.creative-foto2-items{
	display: flex;
	
	margin-top: 3%;
	justify-content: space-between;
	}
	
	
	.creative-foto2-items img{
    width: 32.5%;
	}
	
	.creative-foto img{
	height: 210px;
	}
	
	.creative-foto2 img{
	}
	
    /*posters*/

    .el1 img{
      width: 100%;
    }

    .plakati{
      display: flex;
      flex-wrap: wrap;
    }

    .el1{
      width: 44%;
      padding: 3% 2% 3% 3%;

    }
    
    .el2{
      display: flex;
      align-items: flex-end;

      font-family: Helvetica;
      font-size: 35px;

      width: 44%;
      padding: 3% 3% 3% 0;
    }


    #text.el2{
      padding-right: 0;
    }

    #text.el2 p{
      text-align: right;
      margin-left: auto;
    }


    #abc{
      position: relative;
      width: 100%;
    }

    #abc img{
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
      margin: 3% 25% 3% 25%;
    }

    p#days33{

    }
    /*patterns*/
    .patterns{
      display: flex;
      justify-content: space-between;
      margin-top: 2%;

    }

    .patterns img{
      width: 33%;
    }

    .another{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2%;
    }
    .another img{
      width: 25%;
    }

    /*movies*/

    .all{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 1%;
    }
    .allimg{

      width: 25%;
      margin-bottom: 1%;
    }
    
    .allimg img{
      width: 100%;

    }
	
	.all a{
  display: inline-block;
  width: 100%;
}
	.all a:hover img {
  opacity: 0;
}

.poster1:hover {
  background: url("images/A_Dark_Song.jpg");
    background-repeat: no-repeat;
  background-size: 100%;
}


.poster2:hover {
  background: url("images/The_Witch.jpg");
    background-repeat: no-repeat;
  background-size: 100%;
}

.poster3:hover {
  background: url("images/Snatch.jpg");
    background-repeat: no-repeat;
  background-size: 100%;
}

.poster4:hover {
  background: url("images/the_gentlemen.jpg");
    background-repeat: no-repeat;
  background-size: 100%;
}

.poster5:hover {
  background: url("images/The_Shawshank_Redemption.jpg");
    background-repeat: no-repeat;
  background-size: 100%;
}

.poster6:hover {
  background: url("images/parasite.jpg");
    background-repeat: no-repeat;
  background-size: 100%;
}



    .alltxt{
      font-family: Helvetica;
      font-size: 1vw;

      width: 20%;
    }
	
	div.film-hover1 {
		width: 25%;
		height: 500px;
		margin-bottom: 1%;
		
		background: url(images/A_Dark_Song_B&W.jpg); 
		background-repeat: no-repeat;
		background-size: 100%;
}

div.film-hover1:hover {

		background: url(images/A_Dark_Song.jpg);
		background-repeat: no-repeat;
		background-size: contain;
}

	div.film-hover2 {
		width: 25%;
		margin-bottom: 1%;
		
		background: url(images/The_Witch_B&W.jpg);
		background-repeat: no-repeat;
		background-size: contain;
}

div.film-hover2:hover {
		background: url(images/The_Witch.jpg);
		background-repeat: no-repeat;
		background-size: contain;
}

	div.film-hover3 {
		width: 25%;
		margin-bottom: 1%;
		
		background: url(images/Snatch_B&W.jpg);
		background-repeat: no-repeat;
		background-size: contain;
}

div.film-hover3:hover {
		background: url(images/Snatch.jpg);
		background-repeat: no-repeat;
		background-size: contain;
}
	
	/* cooking */
    .alltxt-cooking{

      font-family: Helvetica;
      font-size: 1vw;
	  
	  padding-top: 2%;

      width: 20%;
    }
    /*jorney*/
    .video {
      width: 10%;
    }
    a.rollover {
      background: url(images/A_Dark_Song_B&W.jpg);
      display: block;
      width: 100%;
    
    }
    a.rollover:hover {
      background-position: 0 -50%;
    }